
*{
    padding: 0%;
    margin: 0%;
}

/* Section Navbar */

  .navbar {
    background-color: #E8C872;
    width: 100%;
    height: 7%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    

  }

  .logo-name{
    margin-top: 3px;
    font-weight: lighter;
    color: #637A9F;
    margin-left: 10px;
  }

  .navbar a {
    float: left;
    color: #637A9F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    color: #fff;
  }
  .img-logo{
    width: 10%;
    height: auto;
  }

  .second-nav{
    font-size: 20px;
  }


  .name h1{
    font-weight: lighter;
    font-size: 4vw;

  }

  
  .name h2{
    font-weight: bold;
    font-size: 3vw;
  }

  .name h3{
    font-weight: lighter;
    font-size: 3vw;
  }

.mashael{
    color: #E8C872;
}

.parent-image-welcome{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-bg{
    width: 30%;
    margin-top: 70px;
}

/* Button My CV */
.butn-cv{
    background-color: #E8C872;
    height: 44px;
    width: 120px;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
        color: #fff;
        font-size: 17px;
}

.butn-cv:hover{
    background-color: #637A9F;
    color: #fff;

}

/* End Button */


/* Exprince */
.info-exprince{
 display: flex;
 justify-content: center;
 align-items: center;
}

.all-card-exprince{
  display: flex;
  justify-content: center;
  align-items: center;
 
  

}
.info-exprince-card{
  flex-direction: column;
  width: 65%;
  background-color: #E8C872;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  border-radius: 20px;
}


.info-exprince-card p{
font-weight: lighter;  font-size: 1.2vw;
  text-align: start;
  color: #637A9F;
  margin: 10px;


}
.info-exprince img{
  width: 40%;
  height: auto;
  margin-left: 60px;

}


.exprince{

text-align: center;
font-size: 5vw;
font-weight: lighter;
color: #637A9F;
margin-bottom: 60px;
}
/*  Projects */
.Project{
text-align: center;
font-size: 5vw;
font-weight: lighter;
color: #637A9F;
margin: 4%;
}


.info-contact{
text-align:center ;
}

.info-contact h1{
  color: #E8C872;
  font-size: 4vw;
font-weight: lighter;
margin: 1%;
  }


  .info-contact h2{
    color: black;
    font-size: 4vw;
  font-weight: lighter;
    }
  

  


.icons-contact{
  display: flex;
  gap: 6rem;
  justify-content: center;
}

.Information-contact{
  margin-bottom: 30px;
}

.Information-contact i{
  background-color: #E8C872;
  color:  #637A9F;
  padding: 8px;
  font-size: 25px;
  border-radius: 50% 50% 0 0;

}

.Information-contact h1{
  font-weight: lighter;
  font-size: 35px;
  
  color: #637A9F; 
}

.Information-contact a{
  text-decoration: none;
}


.url-icons{
  color: black;
  font-size: 35px;
  font-weight: lighter;
}

  /* Section Projects */


  .card-project{
    display: flex;
    justify-content: center;

  }
  .card-title {
    color: #E8C872;
    font-size: 1.2em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: black;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  

  .card {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 320px;
    background-color: #FFF3CF;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #637A9F, #FFF3CF);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card:hover:before {
    transform: scale(28);
  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  



  /* Contact */

  /* End Text */

  .end-text{
    text-align: center;
    background-color: #E8C872;
    color:#637A9F;
    font-size:45pxl;
    font-weight: lighter;
    padding: 20px;
    text-transform: capitalize;
}

.end-text:hover{
  color: #fff;
}



@media (max-width: 768px) {
  .navbar {
      background-color: #FFF3CF;
      display: flex;
      justify-content: space-between;
  }

  .second-nav{
    display: none;
  }


  .navbar h1{
      width: 5%;
      height: auto;
    }

.card-project{
  flex-direction: column;
  align-items: center;
}
.name h1{
  font-weight: lighter;
  font-size: 7vw;
  margin: 6px;
  margin-top: 10px;
}

.name h2{
  font-weight: bold;
  font-size: 5vw;
  margin: 6px;
}

.name h3{
  font-weight: lighter;
  font-size: 5vw;
  margin: 6px;
}
.mashael{
  color: #E8C872;
}

.image-bg{
  width: 50%;
  margin-top: 9px;
}
.butn-cv{
  margin: 6px;
  height: 30px;
  width: 90px;
  border: none;
  font-size: 3vw;
  border-radius: 2px;
  font-weight: bold;
}

.end-text{
  font-size: 14px;
}
.end-text:hover{
color: #fff;
}

.Project{
  text-align: center;
  font-size: 10vw;
  font-weight: lighter;
  color: #637A9F;
  margin: 13px;
  }
  
  .exprince{
    text-align: center;
    font-size: 10vw;
    font-weight: lighter;
    color: #637A9F;
    margin: 13px;
    }

    .all-card-exprince{
      flex-direction: column;
      gap:25px;
      width: 100%;
      height: 100%;
    }
    .info-exprince-card img{
      width: 38%;
      margin-left: 60px;

    }
    .info-exprince-card p{
      font-size: 4.5vw;
    }

    .info-contact h1{
      text-align: center;
      font-size: 10vw;
      font-weight: lighter;
      color: #E8C872;
      margin: 13px;
    }

    .info-contact h2{
      text-align: center;
      font-size: 10vw;
      font-weight: lighter;
      color: black;
      margin: 13px;
    }
    .icons-contact{
      flex-direction: column;
      gap: 3px;
      margin: 0;
    }

    .url-icons{
      color: black;
      font-size: 25px;
      font-weight: lighter;
      margin: 0;
    }

    
.Information-contact{
  margin: 0;
}

}
